<h2>House <%= @house.name %> <%= link_to "(edit)", edit_house_path(@house) %></h2>

<h3>Members <%= link_to "(+)", new_house_character_path(@house) %></h3>

<ul>
  <% @house.characters.each do |character| %>
    <li>
      <h3><%= character.char_name %></h3><br>
      <div class="character-portrait" style="background: url(<%= character.img %>); background-size:cover; background-position: center;"></div>

        <br>
    </li>
    <%= link_to "edit", edit_house_character_path(@house, character) %>
  <% end %>
</ul>
